/* border-bottom solid line */
/* box-shadows */
/* 1em = 16px */
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden; }

hr {
  border: none;
  height: 1px;
  color: #ddd;
  background-color: #ddd; }

body {
  font-family: "Open-sans", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #1d2b5a; }

.topbar {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  position: relative;
  background-color: #e74233; }
  @media only screen and (max-width: 56.25em) {
    .topbar {
      display: none; } }
  .topbar::before {
    content: '';
    top: 0;
    left: 50%;
    z-index: -1;
    height: 100%;
    width: 100vw;
    position: absolute;
    transform: translateX(-50%);
    background: #e74233; }

.header {
  width: 100%;
  display: flex;
  margin: 0 auto;
  height: 12.5rem;
  max-width: 120rem;
  align-items: center;
  flex-direction: row;
  justify-content: space-between; }
  @media only screen and (max-width: 75em) {
    .header {
      max-width: 100%; } }
  @media only screen and (max-width: 56.25em) {
    .header {
      flex-wrap: wrap; } }
  .header__link {
    text-decoration: none; }
  .header__phone {
    width: 18rem;
    height: auto; }

.footer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 5rem 0;
  max-width: 120rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      max-width: 100%;
      align-items: center;
      flex-direction: column; } }
  .footer__logo {
    flex: 0 0 23%;
    display: flex;
    align-items: center; }

.container {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column; }

.menu {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  padding-bottom: 1.5rem; }

.button {
  border: none;
  width: 17.2rem;
  height: 4.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #e74233;
  cursor: pointer; }
  .button:active {
    border: none;
    outline: none; }
  .button:focus {
    border: none;
    outline: none; }

.logo {
  width: 17.5rem;
  height: auto; }

.search {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    width: 90%;
    border: none;
    color: inherit;
    font-size: inherit;
    padding: 1rem 2rem;
    font-family: inherit;
    background-color: #f0f1f1;
    transition: all 0.2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%; }
    .search__input:active {
      transform: translateY(2px); }
  .search__button {
    color: #e74233;
    border: none;
    background-color: transparent; }
  .search__icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor; }

.top-nav {
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  flex-direction: row;
  justify-content: flex-start; }
  @media only screen and (max-width: 56.25em) {
    .top-nav {
      display: none; } }
  .top-nav__item {
    display: flex;
    position: relative;
    align-items: flex-end; }
  .top-nav__span {
    color: #999; }
  .top-nav__span--bold {
    font-size: 1.6rem;
    font-weight: bold;
    color: #032e5a; }
  .top-nav__span--bold::after {
    content: "";
    width: 1.1rem;
    height: 1.1rem;
    mask-size: cover;
    margin-left: 0.8rem;
    transition: all 0.8s;
    display: inline-block;
    transform: rotate(0deg);
    -webkit-mask-size: cover;
    background-color: #e74233;
    mask-image: url(../img/chevron-thin-down.svg);
    -webkit-mask-image: url(../img/chevron-thin-down.svg); }
  .top-nav__item:hover .top-nav__span--bold::after {
    transform: rotate(-180deg); }
  .top-nav__link, .top-nav__link:visited {
    z-index: 10;
    display: flex;
    position: relative;
    color: #032e5a;
    text-decoration: none;
    flex-direction: column;
    padding: 1.5rem 2rem 1.5rem 0; }

.about {
  flex: 1;
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 75em) {
    .about {
      order: 3;
      padding: 2rem;
      align-items: center; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      padding: 1rem; } }
  .about__title {
    font-size: 2.3rem;
    line-height: 3rem;
    font-weight: bold;
    text-transform: uppercase; }
    .about__title--newsletter {
      font-size: 2rem; }
      @media only screen and (max-width: 75em) {
        .about__title--newsletter {
          width: 100%;
          font-size: 1.6rem;
          line-height: 1.6rem; } }
    .about__title--newsletter {
      color: #000; }
      .about__title--newsletter::before {
        content: "";
        width: 2rem;
        height: 2rem;
        mask-size: cover;
        transition: all 0.8s;
        display: inline-block;
        transform: rotate(0deg);
        -webkit-mask-size: cover;
        background-color: #000;
        mask-image: url(/img/calculator.svg);
        -webkit-mask-image: url(/img/calculator.svg); }
  .about__description {
    font-size: 1.4rem;
    padding: 1rem 0 1.5rem 0; }
    .about__description--newsletter {
      color: #999; }

.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between; }
  @media only screen and (max-width: 75em) {
    .logos {
      justify-content: flex-start;
      padding: 0 2rem; } }
  .logos__logo {
    width: auto;
    height: auto;
    margin: .8rem; }
    @media only screen and (max-width: 56.25em) {
      .logos__logo {
        width: 8rem;
        height: auto; } }
    .logos__logo--harley {
      width: 10rem;
      height: auto;
      opacity: 0.6; }

.social {
  display: flex;
  flex: 0 0 23%;
  flex-direction: column;
  border-right: 1px solid #dddddd; }
  @media only screen and (max-width: 56.25em) {
    .social {
      align-items: center;
      border-right: 0; } }
  .social__list {
    display: flex;
    list-style: none;
    padding: .5rem 0;
    align-items: center;
    flex-direction: row; }
  .social__title {
    font-size: 2rem;
    color: #000;
    text-transform: uppercase; }
  .social__item:not(:last-child) {
    margin-right: 1rem; }
  .social__link {
    display: flex;
    padding: .5rem;
    align-items: center;
    border-radius: .4rem;
    justify-content: center;
    color: #fff;
    background: #000; }
    .social__link--sidemenu {
      color: #032e5a;
      background: rgba(255, 255, 255, 0.6); }
  .social__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor; }

.mailing {
  flex: 0 0 54%;
  padding: 0 8rem;
  border-right: 1px solid #dddddd;
  margin-right: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .mailing {
      margin: 0;
      padding: 3rem;
      max-width: 100%;
      border-right: 0; } }
  .mailing__form {
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .mailing__form {
        align-items: center;
        flex-direction: column; } }
  .mailing__title {
    font-size: 2rem;
    color: #000;
    padding-bottom: 1rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 56.25em) {
      .mailing__title {
        display: flex;
        align-items: center;
        justify-content: center; } }
  .mailing__input {
    width: 100%;
    border: none;
    color: inherit;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    font-family: inherit;
    background-color: #fff; }
    .mailing__input:focus {
      outline: none; }
  .mailing__qa {
    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 1rem;
    text-transform: uppercase;
    color: #333; }
    @media only screen and (max-width: 56.25em) {
      .mailing__qa {
        color: red;
        display: flex;
        padding-top: 3rem;
        align-items: center;
        justify-content: center; } }
  .mailing__letusknow {
    color: #777;
    font-size: 1.2rem; }
    @media only screen and (max-width: 56.25em) {
      .mailing__letusknow {
        display: flex;
        align-items: center;
        justify-content: center; } }

.links {
  flex: 0 0 54%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-left: 1px solid rgba(221, 221, 221, 0.8);
  flex-direction: row; }
  @media only screen and (max-width: 75em) {
    .links {
      padding: 2rem;
      max-width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .links {
      margin: 0;
      padding: 2rem 0; } }
  .links__item {
    flex: 0 0 33%;
    padding-left: 5rem; }
    @media only screen and (max-width: 75em) {
      .links__item {
        flex: 0 0 45; } }
  .links__link {
    font-size: 1.2rem;
    text-decoration: none;
    color: #999; }

.contact {
  flex: 0 0 23%;
  display: flex;
  list-style: none;
  padding-left: 4rem;
  flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .contact {
      max-width: 100%;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap; } }
  .contact__item {
    margin-bottom: .7rem; }
    @media only screen and (max-width: 56.25em) {
      .contact__item {
        flex: 0 0 50%;
        padding: 0 rem; } }
  .contact__link {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    text-decoration: none;
    color: #999; }
  .contact__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
    margin-right: .5rem; }

.sidemenu {
  top: 0;
  left: 0;
  bottom: 0;
  width: 70%;
  height: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  list-style: none;
  align-items: stretch;
  flex-direction: column;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.06);
  transform: translateX(-100%);
  background-color: #032e5a;
  transition: transform .4s ease-in; }
  .sidemenu--open {
    transform: translateX(0); }
  .sidemenu__item {
    display: flex;
    font-size: 1.6rem;
    align-items: center; }
    .sidemenu__item:not(:last-child) {
      border-bottom: 1px solid #113274; }
    .sidemenu__item--phone {
      font-size: 2.5rem; }
    .sidemenu__item--social {
      padding: 2rem 4rem; }
    .sidemenu__item span::before {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      margin-right: .8rem;
      display: inline-block; }
    .sidemenu__item strong {
      font-weight: 100; }
      .sidemenu__item strong::before {
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        mask-size: cover;
        margin-right: .8rem;
        display: inline-block;
        -webkit-mask-size: cover;
        background-color: #fff;
        mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-image: url(../img/chevron-thin-right.svg); }
  .sidemenu__link, .sidemenu__link:visited {
    width: 100%;
    z-index: 10;
    display: flex;
    position: relative;
    color: #fff;
    flex-direction: row;
    align-items: center;
    padding: 3rem 2rem;
    text-decoration: none; }
  .sidemenu__link--register, .sidemenu__link--signin {
    height: 100%;
    flex: 0 0 40%;
    padding: 1.5rem 0;
    justify-content: center;
    border-right: 1px solid #113274; }
  .sidemenu__link--close {
    flex: 0 0 20%;
    justify-content: center; }
  .sidemenu__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #fff; }
    .sidemenu__icon--phone {
      width: 4rem;
      height: 4rem;
      padding: .5rem;
      border-radius: 6px;
      color: currentColor;
      background-color: #25D366; }

.sidemenu-column-div {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column; }

.mobile-menu__icon {
  width: 1.75rem;
  height: 1.75rem; }

.list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end; }
  .list__item {
    display: flex;
    height: 3.5rem;
    align-items: center; }
  .list__item--bgblue {
    text-transform: uppercase;
    background-color: #032e5a; }
  .list__link {
    padding: 0 2rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none; }

.cart__link,
.calculator__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  color: #e74233;
  padding: .5rem; }

.cart__icon,
.calculator__icon {
  width: 3rem;
  height: 3rem;
  fill: currentColor; }

.cart__quantity,
.calculator__quantity {
  font-size: 1.4rem;
  color: #032e5a; }

.section-banner {
  width: 100%;
  padding-top: 1rem;
  text-align: center; }
  .section-banner__image {
    width: 100%;
    height: 65rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/img/banner.png"); }
    @media only screen and (max-width: 75em) {
      .section-banner__image {
        max-width: 100%;
        height: 40rem; } }
    @media only screen and (max-width: 56.25em) {
      .section-banner__image {
        background-position: left center;
        height: 30rem; } }
  .section-banner__content {
    height: 100%;
    margin: 0 auto;
    max-width: 120rem;
    position: relative; }
    @media only screen and (max-width: 75em) {
      .section-banner__content {
        width: 100%;
        max-width: 100%; } }
  .section-banner__title {
    left: 0;
    bottom: 20rem;
    line-height: 1;
    font-size: 5rem;
    text-align: start;
    font-weight: bold;
    position: absolute;
    color: #fff;
    text-transform: uppercase; }
    @media only screen and (max-width: 75em) {
      .section-banner__title {
        bottom: 10rem;
        font-size: 3rem; } }
    @media only screen and (max-width: 56.25em) {
      .section-banner__title {
        font-size: 2rem; } }
  .section-banner__logos {
    position: absolute;
    left: 0;
    bottom: 10rem; }
    @media only screen and (max-width: 75em) {
      .section-banner__logos {
        bottom: 2rem; } }
  .section-banner__logo {
    padding: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .section-banner__logo {
        width: 10rem;
        height: auto; } }

.section-teams {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 5rem 0;
  max-width: 120rem;
  align-items: center;
  flex-direction: column;
  background-color: #032e5a; }
  @media only screen and (max-width: 56.25em) {
    .section-teams {
      width: 100%;
      max-width: 100%;
      padding: 5rem 3rem; } }
  .section-teams::before {
    content: "";
    top: 0;
    left: 50%;
    z-index: -1;
    height: 100%;
    width: 100vw;
    position: absolute;
    transform: translateX(-50%);
    background: #032e5a; }
  .section-teams__paragraph {
    opacity: 0.3;
    padding: 5rem;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase; }
    @media only screen and (max-width: 56.25em) {
      .section-teams__paragraph {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-teams__paragraph {
        font-size: 1.4rem; } }

.section-stray {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  background-color: #032e5a; }
  @media only screen and (max-width: 75em) {
    .section-stray {
      max-width: 100%;
      flex-direction: column;
      justify-content: center;
      padding: 5rem 0; } }
  .section-stray::before {
    content: "";
    top: 0;
    left: 50%;
    z-index: -1;
    height: 100%;
    width: 100vw;
    position: absolute;
    transform: translateX(-50%);
    background: #032e5a; }

.stray-info {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 10rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }
  @media only screen and (max-width: 75em) {
    .stray-info {
      padding-top: 7rem;
      max-width: 100%;
      align-items: center;
      flex-direction: column;
      justify-content: center; } }
  @media only screen and (max-width: 56.25em) {
    .stray-info {
      padding-top: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .stray-info {
      padding-top: 0rem; } }

.stray-pictures {
  display: flex;
  position: relative;
  margin: 0 7rem 0 1rem; }
  @media only screen and (max-width: 75em) {
    .stray-pictures {
      display: none; } }
  .stray-pictures__image--img1 {
    position: relative;
    z-index: 2; }
  .stray-pictures__image--img2 {
    z-index: 1;
    top: 16rem;
    right: -32rem;
    position: absolute; }

.stray-logo {
  display: flex;
  padding: 0 2rem;
  justify-content: center; }
  @media only screen and (max-width: 75em) {
    .stray-logo {
      max-width: 100%;
      align-items: center;
      justify-content: center;
      order: 1; } }
  .stray-logo__logo {
    width: 18rem;
    height: auto; }

.stray-video {
  position: relative;
  display: flex;
  padding: 3.5rem 0; }
  @media only screen and (max-width: 75em) {
    .stray-video {
      max-width: 100%;
      align-items: center;
      justify-content: center;
      order: 2; } }
  .stray-video__video {
    width: 76rem;
    height: 40rem; }
    @media only screen and (max-width: 56.25em) {
      .stray-video__video {
        width: 50rem;
        height: 30rem;
        max-width: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .stray-video__video {
        width: 100%;
        height: auto;
        max-width: 100%; } }

.newsletter {
  display: flex;
  height: 25rem;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 120rem;
  position: relative;
  justify-content: space-between;
  background-color: #efebe8; }
  @media only screen and (max-width: 56.25em) {
    .newsletter {
      height: 100%;
      max-width: 100%;
      align-items: center;
      flex-direction: column;
      justify-content: center; } }
  .newsletter::before {
    content: '';
    top: 0;
    left: 50%;
    z-index: -1;
    height: 100%;
    width: 100vw;
    position: absolute;
    transform: translateX(-50%);
    background: #efebe8; }
