// Colors variables
$color-primary: #032e5a;
$color-secondary: #e74233;
$color-tertiary: #ebebeb;

$color-grey-light-1: #eeeeee;
$color-grey-light-2: #f0f1f1;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$line: 1px solid rgba(221,221,221, 0.1);

$color-text: #1d2b5a;

// Font sizes
$default-font-size: 1.6rem;
