.header {
  width: 100%;
  display: flex;
  margin: 0 auto;
  height: 12.5rem;
  max-width: 120rem;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: $bp-largest) {
    max-width: 100%;
  }

  @media only screen and (max-width: $bp-medium) {
    justify-content: space-between;
    height: 6rem;
  }

  &__link {
    text-decoration: none;
  }

  &__phone {
    width: 18rem;
    height: auto;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }

    &--icon {
      @media only screen and (max-width: $bp-medium) {
        display: flex;
      }
    }

  }

  &__icon {
    width: 5rem;
    height: 5rem;
    fill: $color-secondary;
    padding: 0 1rem;

    @media only screen and (max-width: $bp-medium) {
      display: flex;
    }

    &--mobile {
      padding: 0;
      display: none;

      @media only screen and (max-width: $bp-medium) {
        display: block;
      }
    }

  }

  &__hr {
    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

}

.logo {
  width: 17.5rem;
  height: auto;

  @media only screen and (max-width: $bp-medium) {
    width: 12rem;
  }
}

.est-logo {
  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

.calc-cart-div {
  display: flex;
}

.logo-div {

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



