.header {
  width: 100%;
  display: flex;
  margin: 0 auto;
  height: 12.5rem;
  max-width: 120rem;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  &__link {
    text-decoration: none;
  }

  &__phone {
    width: 18rem;
    height: auto;
  }

  @media only screen and (max-width: $bp-largest) {
    max-width: 100%;
  }
}







