.topbar {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  position: relative;
  background-color: $color-secondary;

  &::before {
    content: '';
    top: 0;
    left: 50%;
    z-index: -1;
    height: 100%;
    width: 100vw;
    position: absolute;
    transform: translateX(-50%);
    background: $color-secondary;
  }
}

