.about {
  flex: 1;
  display: flex;
  color: $color-white;
  flex-direction: column;
  background-color: transparent;
  justify-content: space-between;

  &__title {
    font-size: 2.3rem;
    line-height: 3rem;
    font-weight: bold;
    text-transform: uppercase;

    &--newsletter {
      font-size: 2rem;
    }

    &--newsletter {
      &::before {
        content: "";
        width: 2rem;
        height: 2rem;
        mask-size: cover;
        transition: all 0.8s;
        display: inline-block;
        transform: rotate(0deg);
        -webkit-mask-size: cover;
        background-color: $color-black;
        mask-image: url(/img/calculator.svg);
        -webkit-mask-image: url(/img/calculator.svg);
      }
      color: $color-black;
    }
  }

  &__description {
    font-size: 1.4rem;
    padding: 1rem 0 1.5rem 0;

    &--newsletter {
      color: $color-gray-dark-2;
    }
  }
}
