.button {
  border: none;
  width: 17.2rem;
  padding: 1.5rem;
  font-weight: bold;
  color: $color-white;
  transition: all .6s;
  align-self: flex-start;
  background-color: $color-secondary;

  @media only screen and (max-width: $bp-medium){
    width: 17rem;
    font-size: 1.4rem;
  }

  &--newsletter {
    width: 12rem;
    align-self: center;
  }

  cursor: pointer;

  &:active {
    border: none;
    outline: none;
  }

  &:focus {
    border: none;
    outline: none;
  }

  &:hover {
    background-color: darken($color: $color-secondary, $amount: 20%);
  }
}
