.button {
  border: none;
  width: 17.2rem;
  height: 4.2rem;
  color: $color-white;
  background-color: $color-secondary;

  cursor: pointer;

  &:active {
    border: none;
    outline: none;
  }

  &:focus {
    border: none;
    outline: none;
  }
}
