.clients-section {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  background-color: $color-primary;

  &--harley,
  &--woodstock,
  &--titans {
    background-color: $color-white;
  }

  &--stray {
    // full width background color hack
    &::before {
      content: "";
      top: 0;
      left: 50%;
      z-index: -1;
      height: 100%;
      width: 100vw;
      position: absolute;
      transform: translateX(-50%);
      background: $color-primary;
    }
  }

  &--milhaus,
  &--whitehouse,
  &--whitingturner {

        // full width background color hack
    &::before {
      content: "";
      top: 0;
      left: 50%;
      z-index: -1;
      height: 100%;
      width: 100vw;
      position: absolute;
      transform: translateX(-50%);
      background: $color-tertiary;
    }
  }

  @media only screen and (max-width: $bp-largest) {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;
  }

}

.clients-info {
  color: inherit;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 10rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  @media only screen and (max-width: $bp-largest) {
    padding-top: 7rem;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  @media only screen and (max-width: $bp-medium) {
    padding-top: 2rem;
  }


  @media only screen and (max-width: $bp-small) {
    padding-top: 0rem;
  }

}

.clients-pictures {
  display: flex;
  position: relative;
  margin: 0 7rem 0 1rem;

  @media only screen and (max-width: $bp-largest) {
    display: none;
  }

  &__image {

    &--img1 {
      z-index: 2;
      position: relative;
    }

    &--img2 {
      z-index: 1;
      top: 16rem;
      right: -32rem;
      position: absolute;
    }
  }
}

.clients-logo {
  display: flex;
  padding: 0 2rem;
  justify-content: center;

  @media only screen and (max-width: $bp-largest) {
    max-width: 100%;
    align-items: center;
    justify-content: center;
    order: 1;
  }

  &__logo {
    width: 18rem;
    height: auto;
  }
}

.clients-video {
  position: relative;
  display: flex;
  padding: 3.5rem 0;

  @media only screen and (max-width: $bp-largest) {
    max-width: 100%;
    align-items: center;
    justify-content: center;
    order: 2;
  }

  &__video {
    width: 76rem;
    height: 40rem;

    @media only screen and (max-width: $bp-medium) {
      width: 50rem;
      height: 30rem;
      max-width: 100%;
    }

    @media only screen and (max-width: $bp-small) {
      width: 100%;
      height: auto;
      max-width: 100%;
    }
  }
}
