.links {
  flex: 0 0 54%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: row;
  border-left: $line;

  @media only screen and (max-width: $bp-largest) {
    max-width: 100%;
    padding: 2rem;
  }

  &__item {
    flex: 0 0 33%;
    padding-left: 5rem;

    @media only screen and (max-width: $bp-largest) {
      flex: 0 0 50%;
    }

  }

  &__link {
    font-size: 1.2rem;
    text-decoration: none;
    color: $color-gray-dark-2;
  }

}
