.mailing {
  flex: 0 0 54%;
  padding: 0 8rem;
  border-right: $line-2;
  margin-right: 4rem;

  &__form {
    display: flex;
  }

  &__title {
    font-size: 2rem;
    color: $color-black;
    padding-bottom: 1rem;
    text-transform: uppercase;
  }

  &__input {
    width: 100%;
    border: none;
    color: inherit;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    font-family: inherit;
    background-color: $color-white;

    &:focus {
      outline: none;
    }
  }

  &__qa {
    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 1rem;
    text-transform: uppercase;
    color: $color-gray-dark-3;
  }

  &__letusknow {
    color: $color-gray-dark-1;
    font-size: 1.2rem;

  }
}
