.list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;

  &__item {
    display: flex;
    height: 3.5rem;
    align-items: center;
  }

  &__item--bgblue {
    text-transform: uppercase;
    background-color: $color-primary;
  }

  &__link {
    padding: 0 2rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: $color-white;
    text-decoration: none;
  }
}

.contact-cart-calc-box {
  display: flex;
  flex-direction: row;
}

.contact {
  display: flex;
  line-height: 2rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-weight: 800;
    font-size: 1.4rem;
    color: $color-primary;
    text-transform: uppercase;
  }

  &__phone {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
  }
}

.cart,
.calculator {
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    color: $color-secondary;
    padding: 1rem;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    fill: currentColor;
  }

  &__quantity {
    font-size: 1.4rem;
    color: $color-primary;
  }
}

.section-banner {
  padding-top: 1rem;
  position: relative;
  text-align: center;

  &__image {
    width: 100%;
  }

  &__title {
    left: 0;
    bottom: 10rem;
    line-height: 1;
    font-size: 5rem;
    text-align: start;
    font-weight: bold;
    position: absolute;
    color: $color-white;
    text-transform: uppercase;
  }
}

.section-banner-content {
  position: relative;
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

.section-teams {
  padding: 10rem 0;
  margin-top: -0.5rem;
  border-bottom: $line;
  background-color: $color-primary;

  &__paragraph {
    opacity: 0.3;
    padding: 5rem;
    font-size: 3rem;
    font-weight: 600;
    color: $color-white;
    text-transform: uppercase;
  }
}

.section-teams-content {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  align-items: center;
  flex-direction: column;
}

.section-stray {
  width: 100%;
  background-color: $color-primary;
}

.section-stray-content {
  margin: 0 auto;
  display: flex;
  max-width: 120rem;
  flex-direction: column;
  justify-content: space-between;
}

.stray-info {
  display: flex;
  padding-top: 10rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.stray-pictures {
  display: flex;
  position: relative;

  &__image {
    width: 100%;

    &--img1 {
      z-index: 2;
      position: relative;
    }

    &--img2 {
      z-index: 1;
      right: -31.75rem;
      bottom: -20rem;
      position: absolute;
    }
  }
}

.stray-logo {
  display: flex;
  flex: 0 0 23%;
  justify-content: center;

  &__logo {
    width: 18rem;
    height: auto;
  }
}

.stray-video {
  display: flex;
  padding: 3.5rem 0;
  flex-direction: row;
}

