// TOPBAR UL/LI
.list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;

  &__item {
    display: flex;
    height: 3.5rem;
    align-items: center;
  }

  &__item--bgblue {
    text-transform: uppercase;
    background-color: $color-primary;
  }

  &__link {
    padding: 0 2rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: $color-white;
    text-decoration: none;
  }
}

// HEADER CART AND CALCULATOR
.cart,
.calculator {
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    color: $color-secondary;
    padding: .5rem;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    fill: currentColor;
  }

  &__quantity {
    font-size: 1.4rem;
    color: $color-primary;
  }
}

.section-banner {
  width: 100%;
  padding-top: 1rem;
  text-align: center;

  &__image {
    width: 100%;
    height: 65rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/img/banner.png');

    @media only screen and (max-width: $bp-largest) {
      max-width: 100%;
      height: 40rem;
    }

    @media only screen and (max-width: $bp-medium) {
      background-position: left center;
      height: 30rem;
    }
  }


  &__content {
    height: 100%;
    margin: 0 auto;
    max-width: 120rem;
    position: relative;

    @media only screen and (max-width: $bp-largest) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__title {
    left: 0;
    bottom: 20rem;
    line-height: 1;
    font-size: 5rem;
    text-align: start;
    font-weight: bold;
    position: absolute;
    color: $color-white;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-largest) {
      bottom: 10rem;
      font-size: 3rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 2rem;
    }

  }

  &__logos {
    position: absolute;
    left: 0;
    bottom: 10rem;

    @media only screen and (max-width: $bp-largest) {
      bottom: 2rem;
    }

  }

  &__logo {
    padding: 1rem;

    @media only screen and (max-width: $bp-small) {
      width: 10rem;
      height: auto;
    }

  }
}

.section-teams {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 5rem 0;
  max-width: 120rem;
  align-items: center;
  flex-direction: column;
  background-color: $color-primary;

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
    max-width: 100%;
    padding: 5rem 3rem;
  }

  &::before {
    content: "";
    top: 0;
    left: 50%;
    z-index: -1;
    height: 100%;
    width: 100vw;
    position: absolute;
    transform: translateX(-50%);
    background: $color-primary;
  }

  &__paragraph {
    opacity: 0.3;
    padding: 5rem;
    font-size: 3rem;
    font-weight: 600;
    color: $color-white;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 1.4rem;
    }
  }
}

.section-stray {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  background-color: $color-primary;

  @media only screen and (max-width: $bp-largest) {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;
  }

  &::before {
    content: "";
    top: 0;
    left: 50%;
    z-index: -1;
    height: 100%;
    width: 100vw;
    position: absolute;
    transform: translateX(-50%);
    background: $color-primary;
  }

}

.stray-info {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 10rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  @media only screen and (max-width: $bp-largest) {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.stray-pictures {
  display: flex;
  position: relative;
  margin: 0 7rem 0 1rem;

  @media only screen and (max-width: $bp-largest) {
    display: none;
  }

  &__image {

    &--img1 {
      position: relative;
      z-index: 2;
    }

    &--img2 {
      z-index: 1;
      top: 16rem;
      right: -32rem;
      position: absolute;
    }
  }
}

.stray-logo {
  display: flex;
  padding: 0 2rem;
  justify-content: center;

  @media only screen and (max-width: $bp-largest) {
    max-width: 100%;
    align-items: center;
    justify-content: center;
    order: 1;
  }

  &__logo {
    width: 18rem;
    height: auto;
  }
}

.stray-video {
  position: relative;
  display: flex;
  padding: 3.5rem 0;

  @media only screen and (max-width: $bp-largest) {
    max-width: 100%;
    align-items: center;
    justify-content: center;
    order: 2;
  }

  &__video {
    width: 76rem;
    height: 40rem;

    @media only screen and (max-width: $bp-medium) {
      width: 50rem;
      height: 30rem;
      max-width: 100%;
    }

    @media only screen and (max-width: $bp-small) {
      width: 100%;
      height: auto;
      max-width: 100%;
    }
  }
}

.newsletter {
  display: flex;
  height: 25rem;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 120rem;
  position: relative;
  justify-content: space-between;
  background-color: $color-tertiary;

  @media only screen and (max-width: $bp-medium) {
    height: 100%;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &::before {
    content: '';
    top: 0;
    left: 50%;
    z-index: -1;
    height: 100%;
    width: 100vw;
    position: absolute;
    transform: translateX(-50%);
    background: $color-tertiary;
  }
}
